/* =====================================
	!Aspire Framework Main Stylesheet
	--------------
	- This sheet is responsible for importing and documenting partials
	  Imports should respect css specifitity, low level helpers at the top, specific at the top.

================================= */
/*
 Site wide variables / margins
 ------------------------------ */
/* =====================================
	Vars
	--------------
	- Here we set variables that impact or are utilised by the rest of the style sheet
================================= */
/*
 !Layout
 ------------------------------ */
/*
 !Typography
 ------------------------------ */
/*
 !Colours
 - Prefixed with $c-
 ------------------------------ */
/*
 Project Specific Mixins
 ------------------------------ */
/* =====================================		
	Mixins
	--------------
	- Any non-compass mixins that are required for the projects & some common ones
================================= */
/*
 Typography
 ------------------------------ */
/*
 Get us up good and consistant (http://necolas.github.com/normalize.css/)
 ------------------------------ */
/* normalize.css v1.0.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 21, ../sass/lib/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 31, ../sass/lib/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 42, ../sass/lib/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */
/* line 53, ../sass/lib/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 68, ../sass/lib/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 83, ../sass/lib/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE 6/7.
 */
/* line 91, ../sass/lib/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 103, ../sass/lib/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
/* line 112, ../sass/lib/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
/* line 126, ../sass/lib/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 131, ../sass/lib/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 136, ../sass/lib/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 141, ../sass/lib/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 146, ../sass/lib/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 151, ../sass/lib/_normalize.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
/* line 160, ../sass/lib/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
/* line 169, ../sass/lib/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 173, ../sass/lib/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
/* line 181, ../sass/lib/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE 6/7/8/9.
 */
/* line 189, ../sass/lib/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE 6/7.
 */
/* line 199, ../sass/lib/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 210, ../sass/lib/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 220, ../sass/lib/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Addresses CSS quotes not supported in IE 6/7.
 */
/* line 230, ../sass/lib/_normalize.scss */
q {
  quotes: none;
}

/*
 * Addresses `quotes` property not supported in Safari 4.
 */
/* line 239, ../sass/lib/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
/* line 248, ../sass/lib/_normalize.scss */
small {
  font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 257, ../sass/lib/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 264, ../sass/lib/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 268, ../sass/lib/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE 6/7.
 */
/* line 283, ../sass/lib/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 287, ../sass/lib/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE 6/7.
 */
/* line 297, ../sass/lib/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE 7.
 */
/* line 306, ../sass/lib/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
/* line 320, ../sass/lib/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */
/* line 329, ../sass/lib/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
/* line 341, ../sass/lib/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE 6/7.
 */
/* line 353, ../sass/lib/_normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding.
 */
/* line 361, ../sass/lib/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
/* line 373, ../sass/lib/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
/* line 390, ../sass/lib/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 403, ../sass/lib/_normalize.scss */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 420, ../sass/lib/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */
/* line 431, ../sass/lib/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 443, ../sass/lib/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 456, ../sass/lib/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 469, ../sass/lib/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 3+.
 */
/* line 478, ../sass/lib/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 488, ../sass/lib/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 501, ../sass/lib/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 Base styling ( no classes )
 ------------------------------ */
/* =====================================
	Base
	--------------
	- Define default styling for markup all variables are declared in _vars.scss

================================= */
/* line 8, ../sass/_base.scss */
html {
  font-size: 100%;
}

/* line 12, ../sass/_base.scss */
body {
  font-size: 1rem;
}

/* =====================================
	!Typography
================================= */
/*
 Headings
 ------------------------------ */
/* line 33, ../sass/_base.scss */
h1, .h1 {
  font-size: 36pxpx;
  font-size: 2.25rem;
}

/* line 37, ../sass/_base.scss */
h2, .h2 {
  font-size: 30pxpx;
  font-size: 1.875rem;
}

/* line 41, ../sass/_base.scss */
h3, .h3 {
  font-size: 24pxpx;
  font-size: 1.5rem;
}

/* line 45, ../sass/_base.scss */
h4, .h4 {
  font-size: 20pxpx;
  font-size: 1.25rem;
}

/* line 49, ../sass/_base.scss */
h5, .h5 {
  font-size: 16pxpx;
  font-size: 1rem;
}

/*
 Paragraph / List
 ------------------------------ */
/*
 Layout / Grids
 ------------------------------ */
/* =====================================
	Layout
	--------------
	- Anything that determins structure and alignment should be added here, prefixed with .l-
================================= */
/*
 !Common
 ------------------------------ */
/* line 13, ../sass/_layout.scss */
.l-constrain {
  max-width: 960px;
  margin: 0 auto;
}

/*
 !Shared Layout Variations
 ------------------------------ */
/* line 23, ../sass/_layout.scss */
.l-grid--2-up .l-grid-unit {
  width: 50%;
}

/*
 !Grid Units
 - Stop worrying and go to the pub http://dbushell.com/2013/03/19/on-responsive-layout-and-grids/
 ------------------------------ */
/* line 32, ../sass/_layout.scss */
.l-grid {
  margin: 0 -1.5em;
}

/* line 37, ../sass/_layout.scss */
.l-grid-unit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  padding: 0 1.5em;
  width: 100%;
}

/* =====================================
	!Modules
	--------------
	- Modules form the bulk of our styling start generic and make specific if required
================================= */
/*
 Modules: The first import includes small basic helper and utility modules
 ------------------------------ */
/* =====================================		
	Modules
	--------------
	- This stylesheet contains small helper / utility modules, larger ones should be
	  abstracted into their own sheet.
================================= */
/* =====================================		
	!clearfix
	--------------
	 For modern browsers
	 1. The space content is one way to avoid an Opera bug when the
	    `contenteditable` attribute is included anywhere else in the document.
	    Otherwise it causes space to appear at the top and bottom of elements
	    that receive the `clearfix` class.
	 2. The use of `table` rather than `block` is only necessary if using
	    `:before` to contain the top-margins of child elements.
================================= */
/* line 22, ../sass/_modules.scss */
.cf:before, .l-constrain:before, .l-grid:before,
.cf:after,
.l-constrain:after,
.l-grid:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 27, ../sass/_modules.scss */
.cf:after, .l-constrain:after, .l-grid:after {
  clear: both;
}

/*
 * For IE 6/7 only
 */
/* line 35, ../sass/_modules.scss */
.cf, .l-constrain, .l-grid {
  *zoom: 1;
}

/*
  M:CMS - Format output from the sites cms
  ------------------------------ */
