/* =====================================		
	Base
	--------------
	- Define default styling for markup all variables are declared in _vars.scss

================================= */

html {
	font-size: 100%;
}

body {
	@include font-size($base-font-size);
	line-height: $line-height-ratio;
}

// http://paulirish.com/2012/box-sizing-border-box-ftw/
* {
	@include box-sizing(border-box);
}


/* =====================================		
	!Typography
================================= */

/*
 Headings
 ------------------------------ */
h1,
h2,
h3,
h4,
h5 {
	margin-top:0; // Top Margins nearly always give headaches, always space down.
	margin-bottom: $base-spacing-unit;
}


h1, .h1 {
	@include font-size($h1-size);
}

h2, .h2 {
	@include font-size($h2-size);
}

h3, .h3 {
	@include font-size($h3-size);
}

h4, .h4 {
	@include font-size($h4-size);
}

h5, .h5 {
	@include font-size($h5-size);
}

/*
 Paragraph / List
 ------------------------------ */

ul {
	margin-top:0;
	margin-bottom: $base-spacing-unit;
}

p {
	margin-top:0;
	margin-bottom: $half-spacing-unit;
}

li {
	margin-top:0;
	margin-bottom: $half-spacing-unit;
}


